@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");

:root {
  font-size: 62.5%;
  font-family: "Merienda", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eeeaea;
}

a {
  text-decoration: none;
}

.quote-box {
  position: absolute;
  border-radius: 0.4rem;
  box-shadow: 0.5rem 0.5rem 0.6rem black;
  background-color: whitesmoke;
  min-width: 50rem;
  display: table;
  padding: 3rem 4rem;
  margin: 20px 300px;
}
p {
  text-shadow: 0.1rem 0.1rem #1a1919;
  text-align: center;
  font-size: 2.5rem;
  width: 50rem;
  clear: both;
}
footer {
  margin-top: 2rem;
  font-size: 1.5rem;
  text-align: right;
  width: 50rem;
}
button {
  display: block;
  width: 15rem;
  margin: auto;
  font-size: 1.4rem;
  box-shadow: 0.2rem 0.2rem 0.4rem rgb(51, 50, 50);
  border: none;
  border-radius: 0.4rem;
  padding: 1rem;
  margin-top: 2rem;
  height: auto;
  color: whitesmoke;
  text-shadow: 0.1rem 0.1rem #747171;
  float: right;
}

.icon {
  display: block;
  float: left;
}
.color-random {
  min-width: 130rem;
  min-height: 55rem;
}
